 Nav {
	 /* display: flex;
	 flex-direction: row; */
	 border-bottom: groove 5px #fff1ed; 
}  

.ba {
    border-style: solid;
    border-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--white-20 {
    border-color: rgba(255, 255, 255, .2);
}

.b--white-10 {
    border-color: rgba(255, 255, 255, .1);
}

.br-pill {
    border-radius: 9999px;
}

.dib {
    display: inline-block;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.h1 {
    height: 1rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w1 {
    width: 1rem;
}

.white-70 {
    color: rgba(255, 255, 255, .7);
}

.white {
    color: #fff;
}

.hover-black:hover {
    color: #000;
}

.hover-black:focus {
    color: #000;
}

.hover-white:hover {
    color: #fff;
}

.hover-white:focus {
    color: #fff;
}

.hover-bg-white:hover {
    background-color: #fff;
}

.hover-bg-white:focus {
    background-color: #fff;
}

.pa3 {
    padding: 1rem;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.mr3 {
    margin-right: 1rem;
}

.no-underline {
    text-decoration: none;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}

@media screen and (min-width: 30em) {
    .mr4-ns {
        margin-right: 2rem;
    }
}

